<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ndjk.cl.brandservice.dao.ServiceOrderMapper" >
  <resultMap id="BaseResultMap" type="com.ndjk.cl.brandservice.model.ServiceOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="kg_id" property="kgId" jdbcType="INTEGER" />
    <result column="apply_name" property="applyName" jdbcType="VARCHAR" />
    <result column="work" property="work" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="is_shipping" property="isShipping" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="selectApplyListByKgIdMap"
             type="com.ndjk.cl.brandservice.model.dto.ApiApplyServiceQueryModel"
             extends="BaseResultMap">
    <collection property="brandServiceList"
                select="com.ndjk.cl.brandservice.dao.BrandServiceMapper.selectByKgId"
                column="kg_id" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, kg_id, apply_name, `work`, phone, activity_name, order_no, state, is_shipping, price,
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from service_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from service_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ndjk.cl.brandservice.model.ServiceOrder" >
    insert into service_order (id, kg_id, apply_name,
      work, phone, activity_name, 
      order_no, state, is_shipping, 
      price, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{kgId,jdbcType=INTEGER}, #{applyName,jdbcType=VARCHAR},
      #{work,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{activityName,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{isShipping,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ndjk.cl.brandservice.model.ServiceOrder" >
    insert into service_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="kgId != null" >
        kg_id,
      </if>
      <if test="applyName != null" >
        apply_name,
      </if>
      <if test="work != null" >
        `work`,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="activityName != null" >
        activity_name,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="isShipping != null" >
        is_shipping,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="kgId != null" >
        #{kgId,jdbcType=INTEGER},
      </if>
      <if test="applyName != null" >
        #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="work != null" >
        #{work,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="activityName != null" >
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="isShipping != null" >
        #{isShipping,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ndjk.cl.brandservice.model.ServiceOrder" >
    update service_order
    <set >
      <if test="kgId != null" >
        kg_id = #{kgId,jdbcType=INTEGER},
      </if>
      <if test="applyName != null" >
        apply_name = #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="work != null" >
        work = #{work,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="activityName != null" >
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="isShipping != null" >
        is_shipping = #{isShipping,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ndjk.cl.brandservice.model.ServiceOrder" >
    update service_order
    set kg_id = #{kgId,jdbcType=INTEGER},
      apply_name = #{applyName,jdbcType=VARCHAR},
      `work` = #{work,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      activity_name = #{activityName,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      is_shipping = #{isShipping,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectApplyListByKgId" resultMap="selectApplyListByKgIdMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from service_order
    where kg_id = #{kgId,jdbcType=INTEGER}
  </select>
  <!--通过订单id查询服务列表-->
  <select id="selectServiceByOrderId" resultType="java.util.Map" parameterType="java.lang.Integer">
    SELECT
	  bs.id serviceId,
	  bs.name serviceName,
	  bs.price price,
	  os.count count,
	  bs.type serviceType
    FROM
        brand_service bs,
        order_service os
    WHERE
      bs.id = os.service_id
    AND os.order_id = #{orderId,jdbcType=INTEGER}
    ORDER BY bs.type DESC
  </select>
  <!--查询服务列表--><!--kg.id kgId,-->
  <select id="selectList" resultType="java.util.Map" parameterType="java.util.Map">
    SELECT
      so.id orderId,
      so.order_no orderNo,
      so.state state,
      DATE_FORMAT(so.create_time, '%Y-%m-%d %h:%i:%s') applyTime,
      kg.kg_name name,
      so.apply_name applyName,
      so.phone applyPhone,
      (
        select
          GROUP_CONCAT(a.total)
        from
        (
          SELECT
            CONCAT(bs.name, '*', os.count) as total
          FROM
              brand_service bs,
              order_service os
          WHERE
              bs.id = os.service_id
        ) a
      ) as serviceDetail,
      so.price price
    FROM
	  service_order so,
	  kindergarten kg
    <where>
      so.kg_id = kg.id
      <if test="null != kgName and '' != kgName" > and kg.kg_name = #{kgName} </if>
      <if test="null != applyName and '' != applyName" > and so.apply_name = #{applyName} </if>
      <if test="null != applyPhone and '' != applyPhone" > and so.phone = #{applyPhone} </if>
      <if test="null != applyStartTime and applyStartTime != ''">and DATE_FORMAT(so.create_time,'%Y-%m-%d')>= #{applyStartTime}</if>
      <if test="null != applyEndTime and applyEndTime != ''">and #{applyEndTime}>= DATE_FORMAT(so.create_time,'%Y-%m-%d')</if>
      <if test="null != state and '' != state" > and so.state = #{state} </if>
    </where>
  </select>
</mapper>