<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ndjk.cl.utils.generator.gen.NdProductMapper">
  <resultMap id="BaseResultMap" type="com.ndjk.cl.utils.generator.gen.NdProduct">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="image" jdbcType="INTEGER" property="image" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="common_name" jdbcType="VARCHAR" property="commonName" />
    <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
    <result column="batch_number" jdbcType="VARCHAR" property="batchNumber" />
    <result column="shelf_life" jdbcType="DATE" property="shelfLife" />
    <result column="efficacy" jdbcType="VARCHAR" property="efficacy" />
    <result column="appropriate_crowd" jdbcType="VARCHAR" property="appropriateCrowd" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ndjk.cl.utils.generator.gen.NdProduct">
    <result column="instructions" jdbcType="LONGVARCHAR" property="instructions" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, introduction, image, brand, common_name, manufacturer, batch_number, shelf_life, 
    efficacy, appropriate_crowd, state, category_id, update_time, create_time
  </sql>
  <sql id="Blob_Column_List">
    instructions
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from nd_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nd_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ndjk.cl.utils.generator.gen.NdProduct">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nd_product (name, introduction, image, 
      brand, common_name, manufacturer, 
      batch_number, shelf_life, efficacy, 
      appropriate_crowd, state, category_id, 
      update_time, create_time, instructions
      )
    values (#{name,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, #{image,jdbcType=INTEGER}, 
      #{brand,jdbcType=VARCHAR}, #{commonName,jdbcType=VARCHAR}, #{manufacturer,jdbcType=VARCHAR}, 
      #{batchNumber,jdbcType=VARCHAR}, #{shelfLife,jdbcType=DATE}, #{efficacy,jdbcType=VARCHAR}, 
      #{appropriateCrowd,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{instructions,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ndjk.cl.utils.generator.gen.NdProduct">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nd_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="commonName != null">
        common_name,
      </if>
      <if test="manufacturer != null">
        manufacturer,
      </if>
      <if test="batchNumber != null">
        batch_number,
      </if>
      <if test="shelfLife != null">
        shelf_life,
      </if>
      <if test="efficacy != null">
        efficacy,
      </if>
      <if test="appropriateCrowd != null">
        appropriate_crowd,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="instructions != null">
        instructions,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="commonName != null">
        #{commonName,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="batchNumber != null">
        #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="shelfLife != null">
        #{shelfLife,jdbcType=DATE},
      </if>
      <if test="efficacy != null">
        #{efficacy,jdbcType=VARCHAR},
      </if>
      <if test="appropriateCrowd != null">
        #{appropriateCrowd,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="instructions != null">
        #{instructions,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ndjk.cl.utils.generator.gen.NdProduct">
    update nd_product
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="commonName != null">
        common_name = #{commonName,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="batchNumber != null">
        batch_number = #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="shelfLife != null">
        shelf_life = #{shelfLife,jdbcType=DATE},
      </if>
      <if test="efficacy != null">
        efficacy = #{efficacy,jdbcType=VARCHAR},
      </if>
      <if test="appropriateCrowd != null">
        appropriate_crowd = #{appropriateCrowd,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="instructions != null">
        instructions = #{instructions,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ndjk.cl.utils.generator.gen.NdProduct">
    update nd_product
    set name = #{name,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      image = #{image,jdbcType=INTEGER},
      brand = #{brand,jdbcType=VARCHAR},
      common_name = #{commonName,jdbcType=VARCHAR},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      batch_number = #{batchNumber,jdbcType=VARCHAR},
      shelf_life = #{shelfLife,jdbcType=DATE},
      efficacy = #{efficacy,jdbcType=VARCHAR},
      appropriate_crowd = #{appropriateCrowd,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      instructions = #{instructions,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ndjk.cl.utils.generator.gen.NdProduct">
    update nd_product
    set name = #{name,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      image = #{image,jdbcType=INTEGER},
      brand = #{brand,jdbcType=VARCHAR},
      common_name = #{commonName,jdbcType=VARCHAR},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      batch_number = #{batchNumber,jdbcType=VARCHAR},
      shelf_life = #{shelfLife,jdbcType=DATE},
      efficacy = #{efficacy,jdbcType=VARCHAR},
      appropriate_crowd = #{appropriateCrowd,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.ndjk.cl.utils.generator.NdProduct">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="image" jdbcType="INTEGER" property="image" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="common_name" jdbcType="VARCHAR" property="commonName" />
    <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
    <result column="batch_number" jdbcType="VARCHAR" property="batchNumber" />
    <result column="shelf_life" jdbcType="DATE" property="shelfLife" />
    <result column="efficacy" jdbcType="VARCHAR" property="efficacy" />
    <result column="appropriate_crowd" jdbcType="VARCHAR" property="appropriateCrowd" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ndjk.cl.utils.generator.NdProduct">
    <result column="instructions" jdbcType="LONGVARCHAR" property="instructions" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, introduction, image, brand, common_name, manufacturer, batch_number, shelf_life, 
    efficacy, appropriate_crowd, state, category_id, update_time, create_time
  </sql>
  <sql id="Blob_Column_List">
    instructions
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from nd_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nd_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ndjk.cl.utils.generator.NdProduct">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nd_product (name, introduction, image, 
      brand, common_name, manufacturer, 
      batch_number, shelf_life, efficacy, 
      appropriate_crowd, state, category_id, 
      update_time, create_time, instructions
      )
    values (#{name,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, #{image,jdbcType=INTEGER}, 
      #{brand,jdbcType=VARCHAR}, #{commonName,jdbcType=VARCHAR}, #{manufacturer,jdbcType=VARCHAR}, 
      #{batchNumber,jdbcType=VARCHAR}, #{shelfLife,jdbcType=DATE}, #{efficacy,jdbcType=VARCHAR}, 
      #{appropriateCrowd,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{instructions,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ndjk.cl.utils.generator.NdProduct">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nd_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="commonName != null">
        common_name,
      </if>
      <if test="manufacturer != null">
        manufacturer,
      </if>
      <if test="batchNumber != null">
        batch_number,
      </if>
      <if test="shelfLife != null">
        shelf_life,
      </if>
      <if test="efficacy != null">
        efficacy,
      </if>
      <if test="appropriateCrowd != null">
        appropriate_crowd,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="instructions != null">
        instructions,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="commonName != null">
        #{commonName,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="batchNumber != null">
        #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="shelfLife != null">
        #{shelfLife,jdbcType=DATE},
      </if>
      <if test="efficacy != null">
        #{efficacy,jdbcType=VARCHAR},
      </if>
      <if test="appropriateCrowd != null">
        #{appropriateCrowd,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="instructions != null">
        #{instructions,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ndjk.cl.utils.generator.NdProduct">
    update nd_product
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="commonName != null">
        common_name = #{commonName,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="batchNumber != null">
        batch_number = #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="shelfLife != null">
        shelf_life = #{shelfLife,jdbcType=DATE},
      </if>
      <if test="efficacy != null">
        efficacy = #{efficacy,jdbcType=VARCHAR},
      </if>
      <if test="appropriateCrowd != null">
        appropriate_crowd = #{appropriateCrowd,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="instructions != null">
        instructions = #{instructions,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ndjk.cl.utils.generator.NdProduct">
    update nd_product
    set name = #{name,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      image = #{image,jdbcType=INTEGER},
      brand = #{brand,jdbcType=VARCHAR},
      common_name = #{commonName,jdbcType=VARCHAR},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      batch_number = #{batchNumber,jdbcType=VARCHAR},
      shelf_life = #{shelfLife,jdbcType=DATE},
      efficacy = #{efficacy,jdbcType=VARCHAR},
      appropriate_crowd = #{appropriateCrowd,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      instructions = #{instructions,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ndjk.cl.utils.generator.NdProduct">
    update nd_product
    set name = #{name,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      image = #{image,jdbcType=INTEGER},
      brand = #{brand,jdbcType=VARCHAR},
      common_name = #{commonName,jdbcType=VARCHAR},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      batch_number = #{batchNumber,jdbcType=VARCHAR},
      shelf_life = #{shelfLife,jdbcType=DATE},
      efficacy = #{efficacy,jdbcType=VARCHAR},
      appropriate_crowd = #{appropriateCrowd,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>